@font-face {
    font-family: "Merriweather";
      src: url('../Merriweather/Merriweather-Regular.ttf') format('truetype');  
  }

*,*:before,*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Merriweather',Arial, Helvetica, sans-serif;
}
/* Heading styling */
.heading-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.header,
.sub-heading{
    text-align: center;
}
.bold_heading{
    font-weight: bold;
}


.header {
    background-color: #32445c;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

.sub-heading {
    border-bottom: 5px solid #32445c;
}
/* contact information section Form styling */
.information_container,
.newsletter_container{
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: 0 auto;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="address"],
select{
    background-color: #dcdedc;
    width:100%;
    text-align: right;
    margin: 5px;
    height: 2em;
}
.contact_information,
.user_newsletter{
    border:none;
    
}
.contact_information {
    border-bottom:5px solid #32445c;
}

/* Newsletter section style formatting */

.checkbox_option{
    margin: 10px;
}

textarea{
    background-color: #dcdedc;
    width:100%;
    border:none;
    height: 7em;
}

/* button styling */
.button {
    display:flex;
    justify-content: center;
    width: 95%;
    margin: 0 auto;
}

#btn{
    background-color:#69d6bd;
    padding: 30px 15px 20px;
    width: 100%;
    color: white;
}


/* footer styling */
.footer{
    text-align: center;
}

