@font-face {
    font-family: "Merriweather";
      src: url('../Merriweather/Merriweather-Regular.ttf') format('truetype');  
  }

*,*:before,*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Merriweather',Arial, Helvetica, sans-serif;
}
/* Heading styling */
.heading-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.header,
.sub-heading{
    text-align: center;
}
.bold_heading{
    font-weight: bold;
}


.header {
    background-color: #32445c;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

.sub-heading {
    border-bottom: 5px solid #32445c;
    width: 75%;
    margin: 0 auto;
}
/* contact information section Form styling */
.information_container,
.newsletter_container{
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: 0 auto;
    background-color:#c8cfce;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="address"]
{
    background-color: white;
    width:100%;
    text-align: right;
    margin: 5px;
    height: 2em;
    transition: background-color 0.7s ease;
}

select{
    background-color: white;
    width:100%;
    text-align: right;
    margin: 5px;
    height: 2em;
}

input:focus,
textarea:focus{
    background-color:pink;
    } 
    
.contact_information,
.user_newsletter{
    border:none;
    
}
.contact_information {
    border-bottom:5px solid #32445c;
}

/* Newsletter section style formatting */

.checkbox_option{
    margin: 10px;
}

textarea{
    background-color: white;
    width:100%;
    border:none;
    height: 7em;
}

.other_topics_container{
    Margin-top: 15px;
}
#other_topics{
    margin-top:15px;

}
/* button styling */
.button {
    display:flex;
    justify-content: center;
    width: 95%;
    margin: 0 auto;
    
}

#btn{
    background-color:#69d6bd;
    padding: 30px 15px 20px;
    width: 100%;
    color: white;
    border-radius: 15px;
}



/* footer styling */
.footer{
    display: flex;
    justify-content: center;
    background-color: #32445c;
    color: white;
    margin-top: 10px;
}

@media (min-width:1024px) {
    .information_container,
    .newsletter_container,
    .button {
        width:60%;
    }
    .resize{
        display: flex;
        justify-content: start;
        margin: 0 auto;
    }

    .resize label {
        flex-basis: 75%;
        padding: 0;
        margin: auto 0;

    }

    input[type="text"],
    input[type="email"],
    input[type="tel"],
    input[type="address"]{
        width: 100%;
    }

}
